body {
  background-color: whitesmoke;
  margin:0;
    padding:0;
}

.list-group a{
  text-decoration: none;
  color: #000000;
  transition: 0.5s;
}

.list-group a:hover, a.selected{
  text-decoration: none;
  color: #ff0000;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.494);
  border-radius: 20px;
}

#carouselCaptionid {
  margin: 0 auto;
  max-width: 900px !important;
  max-height: auto !important;
}

.gallery, .product-information{
  box-shadow: 0px 0px 8px 0px #00000072;
}

